* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  height: 100dvh;
}

nav {
  position: sticky;
  width: 100%;
  height: 45px;
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  width: 1000px;
  min-width: min(1030px, 100%);
  height: 100%;
  display: flex;
}

.nav-desk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: calc(100% - 20px);
  padding: 0px 20px;
}

.nav-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0px 20px;
}

.mob-logo {
  margin-right: auto;
}

nav li,
nav a {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: rgb(188, 188, 188);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8em;
}

.nav-mob {
  display: none;
}

.hero-box1,
.hero-box2,
.hero-box3 {
  position: relative;
}

.hero-img1 {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.hero-img2,
.hero-img3 {
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin-top: 8px;
}

.hero-content1 {
  text-align: center;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 60px;
}

.hero-content2 {
  text-align: center;
  width: 100%;
  height: 30%;

  position: absolute;
  top: 60px;
}

.hero-content3 {
  text-align: center;
  width: 100%;
  height: 30%;
  position: absolute;
  top: 60px;
}

.headline1,
.headline2 {
  font-size: 4em;
  font-weight: bolder;
  color: white;
}

.headline3 {
  font-size: 4em;
  font-weight: bolder;
  color: black;
}

.sub-head1,
.sub-head2 {
  font-size: 30px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 35px;
}

.sub-head3 {
  font-size: 30px;
  color: black;
  margin-top: 5px;
  margin-bottom: 35px;
}

.cta-btn1 {
  background-color: rgb(0, 110, 255);
  color: rgb(251, 253, 255);
  padding: 14px 25px;
  border-radius: 30px;
  font-size: 1em;
  font-weight: 600;
}

.cta-btn2,
.cta-btn3 {
  background-color: rgb(0, 110, 255);
  color: rgb(251, 253, 255);
  padding: 14px 25px;
  border-radius: 30px;
  font-size: 1em;
  font-weight: 600;
}

.buy-btn2,
.buy-btn3 {
  background-color: transparent;
  border: 1px solid rgb(0, 110, 255);
  color: rgb(0, 110, 255);
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 1em;
  font-weight: 600;
  margin-left: 10px;
}

/* Section 2 CSS Starts here */

.sec2 {
  margin: 10px;
  display: flex;
}

.sub-sec1,
.sub-sec2 {
  display: flex;
  flex-direction: column;
}

.sub-sec1 {
  width: calc(100% - 10px);
  margin-right: 7px;
}

.sub-sec2 {
  width: calc(100% - 10px);
  margin-left: 7px;
}

.s2-hero-box1,
.s2-hero-box2,
.s2-hero-box3 {
  position: relative;
}

.s2-hero-img1 {
  width: 100%;
  height: 590px;
  object-fit: cover;
}

.s2-hero-img2,
.s2-hero-img3 {
  width: 100%;
  height: 590px;
  object-fit: cover;
  margin-top: 8px;
}

.s2-hero-content1 {
  text-align: center;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 60px;
}

.s2-hero-content2 {
  text-align: center;
  width: 100%;
  height: 30%;
  position: absolute;
  top: 60px;
}

.s2-hero-content3 {
  text-align: center;
  width: 100%;
  height: 30%;
  position: absolute;
  top: 60px;
}

.s2-headline1,
.s2-headline2,
.s2-headline3 {
  font-size: 3em;
  font-weight: bolder;
  color: black;
}

.s2-sub-head1,
.s2-sub-head2,
.s2-sub-head3 {
  font-size: 30px;
  color: black;
  margin-top: 5px;
  margin-bottom: 35px;
}

.s2-cta-btn1 {
  background-color: rgb(0, 110, 255);
  color: rgb(251, 253, 255);
  padding: 14px 25px;
  border-radius: 30px;
  font-size: 1em;
  font-weight: 600;
}

.s2-cta-btn2,
.s2-cta-btn3 {
  background-color: rgb(0, 110, 255);
  color: rgb(251, 253, 255);
  padding: 14px 25px;
  border-radius: 30px;
  font-size: 1em;
  font-weight: 600;
}

.s2-buy-btn2,
.s2-buy-btn3 {
  background-color: transparent;
  border: 1px solid rgb(0, 110, 255);
  color: rgb(0, 110, 255);
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 1em;
  font-weight: 600;
  margin-left: 10px;
}

@media (max-width: 833px) {
  nav {
    height: 50px;
  }
  .nav-mob {
    display: flex;
    padding: 0px 15px;
  }

  .mob-search,
  .mob-shop,
  .mob-menu {
    margin-left: 30px;
  }

  .nav-desk {
    display: none;
  }
}
